@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Fonts */
    --ff-main: 'Poppins';

    --fw-v-light: 400;
    --fw-light: 500;
    --fw-mid: 600;
    --fw-bold: 700;

    --font-size: 1rem;
    /* Colors */
    --clr-primary-red: hsl(0, 100%, 74%) ;
    --clr-primary-green: hsl(154, 59%, 51%);

    --clr-accent-blue: hsl(248, 32%, 49%);

    --clr-neutral-darkblue: hsl(249, 10%, 26%) ;
    --clr-neutral-semi-darkblue: hsla(249, 10%, 26%, 0.185) ;
    --clr-neutral-mutedblue: hsl(246, 25%, 77%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    margin: 0;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
    box-sizing: border-box;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html, body {
    height: 100%;
    display: grid;
    text-align: center;
    font-family: var(--ff-main);
    background: url(images/bg-intro-mobile.png);
    background-color: var(--clr-primary-red);
    overflow: auto;
  }
  .component__text {
    color: white;
    margin: 2rem;
    margin-top: 5rem;
    max-width: 300px;
    place-self: center;
  }
  .component__boxes {
    place-self: center;
  }
  h1 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .component__main-title{
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
  }
  .component__main-description {
    font-weight: var(--fw-v-light);
  }
  .component__trial-box {
    background-color: var(--clr-accent-blue);
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1.2rem;
    border-radius: .5rem;
    box-shadow: 0px 6px 0px rgba(36, 36, 82, 0.219);
    color: white;
    font-weight: var(--fw-v-light);
  }
  .component__trial-box span {
    font-weight: var(--fw-mid);
  }
  form {
    display: grid;
    background-color: white;
    padding: 1rem;
    padding-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
  }
  input {
    width: 95%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--clr-neutral-semi-darkblue);
    color: var(--clr-neutral-darkblue);
    font-weight: var(--fw-mid);
    border-radius: .25rem;
   
  }
  .error {
    
  }
  button {
    place-self: center;
    width: 95%;
    padding: 1rem;
    background-color: var(--clr-primary-green);
    border: transparent;
    border-radius: .5rem;
    text-transform: uppercase;
    color: white;
    font-weight: var(--fw-mid);
    box-shadow: 0px 4px 0px rgba(1, 66, 21, 0.568);
    margin-bottom: 1rem;
    cursor: pointer;
  }
  button:hover {
    background-color: springgreen;
  }
  .boxes__warning {
    font-size: 0.75rem;
    color: var(--clr-neutral-mutedblue);
    font-weight: var(--fw-light);
  }
  .boxes__warning span {
    color: var(--clr-primary-red);
    font-weight: var(--fw-bold);
  }

@media (min-width:850px) {

  html, body {
    height: 100%;
    display: grid;
    font-family: var(--ff-main);
    background: url(images/bg-intro-desktop.png);
    background-repeat: repeat;
    background-size: cover;
    background-color: var(--clr-primary-red);
    overflow: auto;
  }
  form {
    box-shadow: 0px 6px 0px rgba(154, 154, 167, 0.404);
  }
  .component__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .component__text {
    text-align: start;
    max-width: none;
    margin-left: 6rem;
  }
  .component__boxes {
    text-align: center;
    min-width: 500px;
  }
  .component__main-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
  }
  .component__main-description {
    font-size: 1rem;
    font-weight: var(--fw-v-light);
    margin-left: 2rem;
  }
}